
<!--新着ニュース-->

<h2 class="hidden">新着メッセージ</h2>
<ul class="news-list">
    <li>
    <% if current_user %>
            <% noreply_array = [] %>
            <% noreply(current_user,noreply_array) %>
            <%= link_to "未返信メッセージ #{noreply_array.count} 件", "/rooms",:class => "noreply-message" %>
        <% else %>
    <% end %>
    </li>
</ul>

<!--トップの検索-->
<h2 class="hidden">検索</h2>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<%= link_to '検索条件変更',"/top/searchcondition",class:"top-search" %>

<!--コンテンツ一覧-->
<h2 class="hidden">ユーザー一覧</h2>

<div class="contents-box clearfix">
<% if @users %>
  <% @users.each do |user| %>
  <%= link_to("top/#{user.id}") do %>
  <h3 class="content-box">
    <div class="name"><%= user.name %></div>
      <% if user.profile_picture.attached? %>
          <%= image_tag  user.profile_picture,class:"user_image" %>
          <% else %>
          <% if user.name.length == 1 || user.name.length == 2 || user.name.length ==  3 || user.name.length == 4 %>
        <%= image_tag  "#{user.name.length}.png",class:"user_image" %>
        <% else %>
        <%= image_tag  "4.png",class:"user_image" %>
      <% end %>
      <% end %>
      <div class="text-box">
          <div class="text not-just"><%= user.info %></div>
      </div>
  </h3>
  <% end %>
  <% end %>
  <% else %>
  ユーザーがいません
  <% end %>
</div>
<div class="pagenation"><%= paginate(@users) %></div>