<div class="search-box">
<h2>検索条件</h2>

<%= form_tag("/top/search", method: "get") do %>

ステータス：<%= radio_button_tag :user_type,1 %>加入希望 <%= radio_button_tag :user_type,2 %>メンバーを募集<br>

<span class="show-add">担当</span><span class="show-band">募集</span>パート：
<%= check_box_tag 'candidate[id][]', 1,:checked => true %>ボーカル
<%= check_box_tag 'candidate[id][]', 2,:checked => true %>ギター
<%= check_box_tag 'candidate[id][]', 3,:checked => true %>ベース
<%= check_box_tag 'candidate[id][]', 4,:checked => true %>キーボード
<%= check_box_tag 'candidate[id][]', 5,:checked => true %>ドラム<br>

<% array_area = ["東京都",'愛知県','大阪府'] %>


活動場所：<%= select_tag :area,options_for_select(array_area) %><br>

キーワード：<%= text_field_tag :info %><br>

並び順：<%= radio_button_tag :order,1,:checked => true %>おすすめ順 <%= radio_button_tag :order,2 %>登録が新しい順<br>


<div class="show-add">

性別：<%= check_box_tag 'gender[id][]',1,:checked => true  %>男  <%= check_box_tag 'gender[id][]',2 ,:checked => true %>女<br>

職業：<%= check_box_tag 'job[id][]',1,:checked => true  %>会社員  <%= check_box_tag 'job[id][]',2 ,:checked => true %>フリーター <%= check_box_tag 'job[id][]',3,:checked => true  %>学生  <%= check_box_tag 'job[id][]',4 ,:checked => true %>その他<br>

方向性：<%= check_box_tag 'future[id][]',1,:checked => true  %>プロ志向  <%= check_box_tag 'future[id][]',2,:checked => true  %>趣味<br>

<% array_age_first =  [*16..50] %>
<% array_age_end = [*0..50].reverse %>

年齢：<%= select_tag :age_start,options_for_select(array_age_first) %>才 から <%= select_tag :age_end,options_for_select(array_age_end) %>才<br>
</div>
<div class="show-band">

バンド形態：<%= check_box_tag 'band_type[id][]',1,:checked => true  %>新規結成  <%= check_box_tag 'band_type[id][]',2 ,:checked => true %>活動中<br>

楽曲のタイプ：<%= check_box_tag 'song_type[id][]',1,:checked => true  %>オリジナルが多い  <%= check_box_tag 'song_type[id][]',2 ,:checked => true %>コピーが多い<br>
</div>
<%= submit_tag "検索" %>
<% end %>
</div>