<div class="sign-up-box">
<h2>事前登録</h2>

<h3>サービス開始は12月16日(日)を予定しています。事前登録受付中！</h3>

<%= link_to 'そもそもBandrecとは？こちらで詳しく解説しています', "/top/about",:class => "bandrectoha" %>

<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <% options = ["東京都"] %>
<br>
<div class="field">
  <%= f.label :area %>
  <%= f.select :area,options %><br>
</div>
  ※β版につき対象を「東京」「大阪」「愛知」とさせていただいています。エリアは年明けより随時拡大予定です。
  <br>

<br>
  <div class="actions">
    <%= f.submit "事前登録" %>
  </div>
<% end %>

<br>
<br>
<h3>事前登録の流れ</h3>
<span>------------------------------------------------------------</span><br>
<span>1：上記の登録フォームにメールアドレスとパスワードを入力し、事前登録ボタンを押してください</span><br>
<span>2：登録したメールアドレスに確認メールが届きます。メール内の「Confirm my account」をクリックすると登録完了です</span><br>
※数分程度かかる場合があります。また迷惑メールフォルダに入っている場合もありますので、ご注意ください。
<span>3：マイページからプロフィールを編集しましょう</span><br>
<span>------------------------------------------------------------</span><br>

<%= render "devise/shared/links" %>
</div>