<div class="sign-up-box">
<h2>事前登録</h2>

<h3>サービス開始は12月16日(日)を予定しています。事前登録受付中！</h3>

<span><%= link_to 'そもそもBandrecとは？こちらで詳しく解説しています', "/top/about",:class => "bandrectoha" %></span>

<hr>
<h3>事前登録の流れ</h3>
<p>1：上記の登録フォームにメールアドレスとパスワードを入力し、事前登録ボタンを押してください</p>
<p>2：登録したメールアドレスに確認メールが届きます。<span>メール内の「Confirm my account」をクリックすると登録完了です</span></P>
<span>※数分程度かかる場合があります。</span>また<span>迷惑メールフォルダに入っている場合もあります</span>ので、ご注意ください。
<p>3：マイページからプロフィールを編集しましょう</p>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <% options = ["東京都","大阪府","愛知県"] %>
<br>
<div class="field">
  <%= f.label :area %>
  <%= f.select :area,options %><br>
</div>
  ※β版につき対象を「東京」「大阪」「愛知」とさせていただいています。エリアは年明けより随時拡大予定です。
  <br>

<br>
  <div class="actions">
    <%= f.submit "事前登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>