<div class="sign-up-box">
<h2>バンドメンバー募集サイト and's jam(あんずジャム) アカウント登録画面</h2>

<h3><span><%= link_to 'and’s jam(あんずジャム)とは？詳しく解説', "/top/about",:class => "bandrectoha" %></span></h3>


<%= image_tag 'topsss.png',class:"top-image" %>
<br>

<br>
<div class="new-border">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <p>※確認メールが届くまで<span>1~2分程度</span>かかる場合があります。<br></p>
  <span>迷惑メールフォルダに入っている</span>場合もございます。</p>
  <p>ご注意ください。</p>

  <div class="actions">
    <%= f.submit "アカウント登録",:class=>"btn btn-primary btn-lg" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
※画像はイメージです
</div>
<br><a href="http://twitter.com/share?url=https://www.anzujam.net/" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>ツイッターでシェア<br>
</div>