<div class="profile-edit-box">
<%= form_for current_user, url: {action: 'profile_update'} do |f| %>

<div class="field">
  <%= f.label :name %><span class="asta">(必須)</span>
  <%= f.text_field :name,class: "form-control", placeholder: "名前" %>

<br>
<%= f.label :user_type, class: 'form-label' %><br>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-info active">
    <%= f.radio_button :user_type, 1, {checked: true} %>加入希望
  </label>
  <label class="btn btn-info">
    <%= f.radio_button :user_type, 2, {} %> メンバーを募集
  </label>
  <label class="btn btn-info">
    <%= f.radio_button :user_type, 3, {} %>休憩(検索結果に表示されません)
  </label>
</div>


<br>
<br>
  <%= f.label :image %>
  <br>
  <%= f.file_field :profile_picture %>

<br>
<br>
担当パート(メンバー募集の方は「募集パート」)<br>


<% array = [] %>

<% if current_user.instruments %>
  <% current_user.instruments.each do |i| %>
    <% array << i.part.to_s %>
  <% end %>
<% end %>

<% if array.include?("1") %>
  <%= check_box "gakki", "1",:checked => true %>ボーカル
<% else %>
  <%= check_box "gakki", "1"%>ボーカル
<% end %>

<% if array.include?("2") %>
  <%= check_box "gakki", "2",:checked => true %>ギター
<% else %>
  <%= check_box "gakki", "2"%>ギター
<% end %>

<% if array.include?("3") %>
  <%= check_box "gakki", "3",:checked => true %>ベース
<% else %>
  <%= check_box "gakki", "3"%>ベース
<% end %>

<% if array.include?("4") %>
  <%= check_box "gakki", "4",:checked => true %>キーボード
<% else %>
  <%= check_box "gakki", "4"%>キーボード
<% end %>

<% if array.include?("5") %>
  <%= check_box "gakki", "5",:checked => true %>ドラム<br>
<% else %>
  <%= check_box "gakki", "5"%>ドラム<br>
<% end %>

<br>
<%= f.label :birthday %><br>
<%= f.date_select :birthday,start_year: 1960,end_year: Time.current.year,use_month_numbers: true %>

<% options = ['東京都','大阪府','愛知県','北海道', '青森県', '岩手県', '宮城県', '秋田県',
'山形県', '福島県', '茨城県', '栃木県', '群馬県',
'埼玉県', '千葉県', '神奈川県', '新潟県',
'富山県', '石川県', '福井県', '山梨県', '長野県',
'岐阜県', '静岡県','三重県', '滋賀県',
'京都府', '兵庫県', '奈良県', '和歌山県',
'鳥取県', '島根県', '岡山県', '広島県', '山口県',
'徳島県', '香川県', '愛媛県', '高知県', '福岡県',
'佐賀県', '長崎県', '熊本県', '大分県', '宮崎県',
'鹿児島県', '沖縄県'] %>

<br>

<br>
<%= f.label :gender, {class: 'form-label'} %><br>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-info active">
  <%= f.radio_button :gender,1, :checked => true %>男
  </label>
  <label class="btn btn-info">
    <%= f.radio_button :gender,2 %>女
  </label>
</div>

<br>
<br>
<%= f.label :area %><br>
<%= f.select :area,options %>

<br>
<br>
<%= f.label :info %>
<%= f.text_area :info,cols:40,class: 'form-control', placeholder: "Description" %><br>

<%= f.label :sound_source %>
<%= f.text_field :sound_source,cols:40,class: 'form-control',size:30 %>

<br>
<%= f.label :mail_notice, {class: 'form-label'} %><br>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-info active">
    <%= f.radio_button :mail_notice,1, :checked => true %>通知する
  </label>
  <label class="btn btn-info">
    <%= f.radio_button :mail_notice,2 %>通知しない
  </label>
</div>

<div class="actions">
  <td colspan="2"><%= f.submit "プロフィールを更新",:class=>"btn btn-primary btn-lg my-5" %>
</div>

<% end %>
</div>
</div>


