<div class="header-list clearfix">
    <div class="logo">
        <a href="/">anzujam(あんずジャム) | バンドメンバー募集サイト</a>
    </div>
    <div class="global-nav">
        <ul>
        <% if user_signed_in? %>
        <span class="nav-item"><%= link_to '検索する', "/top/searchcondition" %></span>
        <span class="nav-item"><%= link_to 'ログアウト', "/users/sign_out", method: :delete %></span>
        <% else %>
            <span class="nav-item"><%= link_to '新規登録', "/users/sign_up",method: :GET %></span>
            <span class="nav-item"><%= link_to 'ログイン', "/users/sign_in",method: :GET %></span>
        <% end %>
        </ul>
    </div>
    <div class="h-menu">
    <% if current_user %>
        <%= link_to '', mypage_path(current_user),:class => "fa fa-user menu-icon" %>
    <% else %>
        <%= link_to '', "/users/sign_up",:class => "fa fa-user menu-icon" %>
    <% end %>

    <% if current_user %>
        <%= link_to '', "/rooms",:class => "fa fa-envelope menu-icon" %>
    <% else %>
        <%= link_to '', "/users/sign_up",:class => "fa fa-envelope menu-icon" %>
    <% end %>

    <%= link_to '', "/top/searchcondition",:class => "fa fa-search menu-icon" %>
    <%= link_to '', "/",:class => "fa fa-home menu-icon" %>
    </div>


</div>