<h2 class="hidden">新着メッセージ</h2>
<ul class="news-list">
    <li>
    <% if current_user %>
            <% noreply_array = [] %>
            <% noreply(current_user,noreply_array) %>
            <% if noreply_array.count != 0 %>
              <%= link_to "未返信メッセージ #{noreply_array.count} 件", "/rooms",:class => "noreply-message" %><br>
            <% end %>
    <% end %>
    <% if current_user %>
    <% if current_user.profile_picture.attached? %>
      <% else %>
      <%= link_to "プロフィール画像を登録しましょう", mypage_path(current_user),:class => "noreply-message" %>
    <% end %>
    <% end %>
    </li>
</ul>

<!--トップの検索-->
<h2 class="hidden">検索条件を変更する</h2>
<%= link_to '検索条件変更',"/pages/searchcondition",class:"top-search" %>

<!--コンテンツ一覧-->
<h2 class="hidden">ユーザー一覧を表示</h2>

<div class="contents-box clearfix">
<% if @users  %>
  <% @users.each do |user| %>
    <%= link_to "/pages/#{user.public_uid}" do %>
    <div class="content-box">
    <h3 class="hidden">ユーザープロフィール</h3>
      <div class="name"><%= user.name %></div>
        <% if user.profile_picture.attached? %>
            <%= image_tag  user.profile_picture,class:"user_image" %>
            <% else %>
            <%= image_tag  "account.png",class:"user_image" %>
        <% end %>
        <div class="text-box">
            <div class="text not-just"><%= user.info %></div>
        </div>
    </div>
    <% end %>
    <% end %>
    <br>
    <div class="pagenation"><%= paginate(@users) %></div>
    <br>
  <% else %>
    <p>ユーザーがいません</p>
  <% end %>
</div>