<h2 class="hidden">マイページ</h2>
<div class="mypage-box">
<h3 class="hidden">登録データ</h3>
  <div class="top-box clearfix">
    <div class="image-box">
      <% if @user.profile_picture.attached? %>
      <%= image_tag  @user.profile_picture,class:"user_image" %>
      <% else %>
      <%= image_tag  "account.png",class:"user_image" %>
      <% end %>
    </div>
      <div class="data-box">
      名前：<%= @user.name %><br>
      <% if @user.user_type == 1 %>
        加入希望<br>
        担当パート：<% @user.instruments.each do |i| %>
          <% case i.part %>
            <% when 1 %>
            Vo
            <% when 2 %>
            Gt
            <% when 3 %>
            Ba
            <% when 4 %>
            Key
            <% when 5 %>
            Dr
            <% end %>
          <% end %><br>
          年齢：
          <% if @user.birthday != nil %>
          <% date_format = "%Y%m%d" %>
          <% if (Date.today.strftime(date_format).to_i - @user.birthday.strftime(date_format).to_i) / 10000 == 0 %>
          未設定<br>
          <% else %>
          <%= (Date.today.strftime(date_format).to_i - @user.birthday.strftime(date_format).to_i) / 10000 %> 才<br>
          <% end %>
        <% else %>
        未入力<br>
        <% end %>
        活動エリア：<%= @user.area %><br>
        性別：<% if @user.gender == 1 %>
      男
      <% else %>
      女
      <% end %><br>
      職業：<% if @user.job == 1 %>
      会社員
      <% elsif @user.job == 2 %>
      フリーター
      <% elsif @user.job == 3 %>
      学生
      <% elsif @user.job == 4 %>
      その他
      <% end %><br>
      方向性：<% if @user.future == 1 %>
      プロ志向
      <% else %>
      趣味
      <% end %><br>
      <% elsif @user.user_type == 2 %>
        メンバー募集<br>
        募集パート：<% @user.instruments.each do |i| %>
          <% case i.part %>
            <% when 1 %>
            Vo
            <% when 2 %>
            Gt
            <% when 3 %>
            Ba
            <% when 4 %>
            Key
            <% when 5 %>
            Dr
            <% end %>
          <% end %><br>
          活動エリア：<%= @user.area %><br>
          方向性：<% if @user.future == 1 %>
      プロ志向
      <% else %>
      趣味
      <% end %><br>
      バンド形態：<% if @user.band_type ==1 %>
      新規結成<br>
      <% else %>
      活動(休止)中<br>
      <% end %>
      楽曲のタイプ：<% if @user.song_type == 1 %>
      オリジナルが多い<br>
      <% else %>
      コピーが多い<br>
      <% end %>
      <% else %>
        休憩モード(検索結果に表示されません)<br>
      <% end %>
      </div>
      <div class="sound_source-box">
      <h3 class="hidden">自分が投稿した音源</h3>
        音源<br><%= text_url_to_link(h(@user.sound_source)).html_safe %>
      </div>
    </div>
  <div class="info-box">
  <h3 class="hidden">自己紹介</h3>
    <%= simple_format(@user.info) %>
  </div>
  <div class='prof-edit'><%= link_to 'プロフィール編集', profile_edit_path %></div>
  <div class="prof-edit"><%= link_to 'ログアウト', "/users/sign_out", method: :delete %></div>
</div>
