<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name= "viewport" content = "width=device-width,initial-scale=1.0">
    <title>Bandrec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content='summary' />
    <meta property="og:url" content='https://bandrec.herokuapp.com' />
    <meta property="og:title" content='Bandrec|バンドメンバー募集サイト' />
    <meta property="og:description" content='バンドメンバーを簡単に募集・検索できるサービスです' />
    <meta property="og:image" content='/app/assets/images/bass.jpg' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'responsive' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="sample.js"></script>
  </head>

  <body>
  <div class="container">
    <header class="header">
      <%= render "shared/header" %>
    </header>
    <div class="wrapper clearfix">
      <main class="main">
      <!--アバウト-->
        <h2 class="hidden">Bandrecとは</h2>
        <%= link_to("/top/about") do %>
            <div class="about_bc">
                <div class="content">Bandrec 事前登録受付中！</div>
            </div>
        <% end %>
            <div class="flash">
        <%= flash[:notice]  %>
      </div>
        </a>
          <%= yield %>
      </main>
      <div class="sidemenu">
        <%= render "shared/sidemenu" %>
      </div>
    </div>
    <footer>
        <%= render "shared/footer" %>
    </footer>
  </body>
</html>
