<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name= "viewport" content = "width=device-width,initial-scale=1.0">
    <title>bandrec| バンドメンバー募集サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="bandrecは掲示板と全く異なる、新感覚のバンドメンバー募集サイトです。メールアドレスで簡単に登録できます！" name="description">

    <meta name="twitter:card" content='summary_large_image' />
    <meta property="twitter:url" content='https://www.anzujam.net' />
    <meta property="twitter:title" content='bandrec|バンドメンバー募集サイト' />
    <meta property="twitter:description" content='bandrecはバンドメンバーを簡単に募集・検索できるサービスです' />
    <meta name="twitter:image" content="<%= asset_url('bandrec.png') %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'responsive' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    

    <%= analytics_init if Rails.env.production? %>

    <meta name="google-site-verification" content="-2Wg1QCERNPfRmweV4lYvbLl8s8rDDdSZztQ4CI9QDg" />
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2984458109827129",
    enable_page_level_ads: true
  });
</script>
<script>
  $(function () {
    $('input:radio[name="user_type"]').change(function () {
      $var = $("input[name='user_type']:checked").val()
      if ($var == 1) {
        $(".show-add").show();
        $(".show-band").hide();
      } else if ($var == 2){
        $(".show-band").show();
        $(".show-add").hide();
      };
    });
  });

</script>
<link href="https://fonts.googleapis.com/css?family=Kosugi&display=swap" rel="stylesheet">
  </head>

<body>
<div class='wrapper'>
<header>
<%= render "shared/header" %>
</header>
<div class="flash">
<%= flash[:notice]  %>
</div>
<main class="main">

<div class="container">
<div class='row'>
<div class='col-md-3'></div>
<div class='col-md-6'>
<% if current_user %>
  <h2 class="hidden">新着メッセージ</h2>
  <ul class="news-list">
  <li>
    <% if current_user %>
    <% noreply_array = [] %>
    <% noreply(current_user,noreply_array) %>
      <% if noreply_array.count != 0 %>
      <%= link_to "未返信メッセージ #{noreply_array.count} 件", "/rooms",:class => "noreply-message" %><br>
      <% end %>
    <% end %>
  </li>
  </ul>
<% end%>

<%= yield %>
<div class='col-md-3'></div>
</div>
</div>

<br>
<br>
<br>
  </main>
<footer>
  <%= render "shared/footer" %>
</footer>
</div>
  </body>
</html>
