<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name= "viewport" content = "width=device-width,initial-scale=1.0">
    <title>and’s jam(あんずジャム) | バンドメンバー募集サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="and’s jam(あんずジャム)は掲示板と全く異なる「新感覚」バンドメンバー募集サイトです。メールアドレスで簡単に登録できます！" name="description">

    <meta name="twitter:card" content='summary_large_image' />
    <meta property="twitter:url" content='https://www.anzujam.net' />
    <meta property="twitter:title" content='and’s jam|バンドメンバー募集サイト' />
    <meta property="twitter:description" content='and’s jam(あんずジャム)はバンドメンバーを簡単に募集・検索できるサービスです' />
    <meta name="twitter:image" content="<%= asset_url('andsjam.png') %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'responsive' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="sample.js"></script>

    <%= analytics_init if Rails.env.production? %>

    <meta name="google-site-verification" content="-2Wg1QCERNPfRmweV4lYvbLl8s8rDDdSZztQ4CI9QDg" />

  </head>

  <body>
  <div class="container">
    <header class="header">
      <%= render "shared/header" %>
    </header>
    <div class="wrapper clearfix">
      <main class="main">
      <!--アバウト-->
        <%#<h2 class="hidden">and’s jamとは</h2>
        <%= link_to("/top/about") do %>
            <%#<div class="about_br">
                <div class="content">What Is and’s jam(あんずジャム)？</div>
            </div>
        <% end %>
        <% if current_user %>
        <h2 class="hidden">新着メッセージ</h2>
<ul class="news-list">
    <li>
    <%#<% if current_user %>
    <%#
    <% if current_user.profile_picture.attached? %>
      <%#<% else %>
      <%#<%= link_to "プロフィール画像を登録しましょう", mypage_path(current_user),:class => "noreply-message" %>
    <%#<% end %>

    <%#<% end %>
    <% if current_user %>
            <% noreply_array = [] %>
            <% noreply(current_user,noreply_array) %>
            <% if noreply_array.count != 0 %>
              <%= link_to "未返信メッセージ #{noreply_array.count} 件", "/rooms",:class => "noreply-message" %><br>
            <% end %>
    <% end %>
    </li>
</ul>
<% end%>
            <div class="flash">
        <%= flash[:notice]  %>
      </div>
        <!--新着ニュース-->
<div class="top">

          <%= yield %>
      </main>
      <div class="sidemenu">
        <%= render "shared/sidemenu" %>
      </div>
    </div>
    <footer>
        <%= render "shared/footer" %>
    </footer>
  </body>
</html>
